@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #DE0000; /* Neon red background color */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5), transparent 100%), url('smoky-background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  #main_container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background for the container */
    border-radius: 10px;
  }
  
  #main_title {
    font-family: 'Montserrat', sans-serif;
    color:white; /* Black text color */
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.8); /* Gray shadow for the text */
  }
  /* Styling for the button */
#subbutton {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: #DE0000;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: box-shadow 1s ease-in-out;
  box-shadow: 0 0 8px rgba(255, 0, 130, 0.5);
}

/* Animation for glowing effect on hover */
#subbutton:hover {
  animation: neonGlow 5s infinite;
  box-shadow: 0 0 20px rgba(255, 0, 130, 0.9), 0 0 30px rgba(255, 0, 130, 0.6);
}

/* Keyframes for the glow effect */
@keyframes neonGlow {
  0% {
    box-shadow: 0 0 8px rgba(255, 0, 130, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 130, 0.9), 0 0 30px rgba(255, 0, 130, 0.6);
  }
  100% {
    box-shadow: 0 0 8px rgba(255, 0, 130, 0.5);
  }
}

  #movie_name{
    color: grey;
    width: 300px;
    height:35px;
    font-family: 'Montserrat', sans-serif;
  }
  
  #which_movie {
    color: grey; /* White text color */
    margin-top: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    
    padding: 8px 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  input[type="submit"] {
    padding: 8px 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .drop {
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #fff;
    animation: rain-fall 1s linear infinite;
  }
  
  @keyframes rain-fall {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh);
      opacity: 1;
    }
  }
  #data
  {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow:2px 2px 5px rgba(128, 128, 128, 0.8); ;
}
  